@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The Centre for Smart Infrastructure and Construction's research focuses on the innovative use of emerging technologies in sensor and data management,
        coupled with emerging best practice in the form of the latest manufacturing and supply chain management approaches applied to construction and infrastructure.
    </p>

    <p>
        CSIC is an entrepreneurial environment in which researchers, potential customers and skilled professionals from both academia and business can work side-by-side, ensuring that the UK is first to develop cutting-edge research.
    </p>

</article>

<aside>
    <h3>Other Pages</h3>
    <p>
        Main Page:
    <p><a href="http://www-smartinfrastructure.eng.cam.ac.uk/">CSIC Main Page</a></p>
    <p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </p>
</aside>