@model   CSICDemoDec.Models.OpenProjectArray
@{
    ViewBag.Title = "Home Page";
}
<div class="float-left">
    <img src="~/Content/Images/CSIC_Logo.png" height="82" />
    <h3> Innovation and Knowledge Centre funded by EPSRC and Technology Strategy Board</h3>
</div>
 
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
            </div>
            <h3>We suggest the following:</h3>
            <ol class="round">
                <li class="one">
                    <h5>Getting Started</h5>
                    Create a New Project to Work on
                    @Html.ActionLink("New Project…", "Index", "AddProject")
                </li>

                <li class="two">
                    <h5>Open the list of projects which you are a member. </h5> 
                    <ol>
                        @*Iterating projects OpenProjectItem using ViewBag *@
                        @foreach (CSICDemoDec.Models.OpenProjectItem item in Model)
                        {
                            <li>
                                @Html.ActionLink(item.Name, "Index", item.Name);
                            </li>
                        }
                        <li>@Html.ActionLink("TEST_PROJECT", "Index", "Project", new { name = "-1" }, null)</li>
                    </ol> 
                </li>
                <li class="three">
                    <h5>Open an existing Document</h5> 
                    @*Iterating Course model using ViewBag *@ 
                        @Html.ActionLink("Bragg", "Index", "WireController/BruggStrain"); 

                </li>
            </ol>
        </section>
